# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/client-app/node_modules
client/client-app/.env
.pnp
.pnp.js

# testing
client/client-appclient/client-app/coverage

# production
client/client-app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# mysql
mysql/mysql_data
mysql/logs
.env


## api

api/apiapp.log
api/vendor
api/env/
api/tmp/main
api/tmp/air.log
api/assets/dev/img/
api/assets/dev/testImg/
api/__debug_bin


## other
.vscode/
infra/
memo.txt